# .dockerignore
.git
node_modules
npm-debug.log
.env
*.log
__pycache__
*.pyc
Dockerfile
README.md
localdata
Makefile
examples
docs
.vscode
.ruff_cache
tests
*.md
*.ipynb
notebooks/
tmp/
.cache
.next/cache
.DS_Store