DASHSCOPE_API_KEY=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=
FILE_STORE_TYPE=oss

# redis url, default to redis://localhost:6379/0
PAIRAG_BROKER=


# USE MCP
FEATURE_MCP=1
DB_HOST=
DB_PORT=5432
DB_USER=pairag
DB_PASSWORD=
DB_NAME=pairag
