# dependencies
node_modules
/.pnp
.pnp.*

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# testing
coverage
.stryker-tmp/
reports/mutation/

# next.js
.next/
out/

# fumadocs
.source

# production
dist
apps/docs/generated
packages/*/generated

# turbo
.turbo

/localdata
/model_repository
.coverage

# python
__pycache__

# config
config.json
.env

# tmp_files
tmp
