LANGSMITH_PROJECT=new-agent
LANGSMITH_API_KEY=lsv2_pt_xxxxx

OPENAI_API_KEY=sk-proj-xxxx

KB_API_URL=http://xxxx.cn-hangzhou.pai-eas.aliyuncs.com/v1/retrieval
KB_AUTHORIZATION="xxxx=="
KB_KNOWLEDGE_ID=xxxx

TAVILY_API_KEY=tvly-dev-xxxx

MCP_AMAP_URL=""