# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGSMITH_API_KEY=lsv2_pt_xxxx
TAVILY_API_KEY=tvly-dev-xxx
OPENAI_API_KEY=sk-proj-xxxx
