dynaconf_merge = true

[rag]
name = "pai_rag"
version = "0.1.1"

[rag.chat_engine]
type = "CondenseQuestionChatEngine"

[rag.chat_store]
type = "Local" # [Local, Aliyun-Redis]
host = "Aliyun-Redis host"
password = "Aliyun-Redis user:pwd"
persist_path = "localdata/storage"

[rag.data_reader]
type = "SimpleDirectoryReader"

[rag.embedding]
source = "DashScope"
model_name = "qwen-turbo"

[rag.evaluation]
retrieval = ["mrr", "hit_rate"]
response_label = true
response = ["Faithfulness", "Answer Relevancy", "Guideline Adherence", "Correctness", "Semantic Similarity"]

[rag.index]
persist_path = "localdata/storage"
vector_store.type = "FAISS"

[rag.llm]
source = "DashScope"
name = "qwen-turbo"

[rag.llm_chat_engine]
type = "SimpleChatEngine"

[rag.node_parser]
type = "Sentence"
chunk_size = 500
chunk_overlap = 10

[rag.postprocessor]
rerank_model = "no rerank" # [no rerank, llm, bge_reranker_base]
top_n = 2

[rag.query_engine]
type = "RetrieverQueryEngine"

[rag.retriever]
similarity_top_k = 3
retrieval_mode = "hybrid" # [hybrid, embedding, keyword, router]
BM25_weight = 0.5
vector_weight = 0.5
fusion_mode = "reciprocal_rerank" # [simple, reciprocal_rerank, dist_based_score, relative_score]
query_rewrite_n = 1 # set to 1 to disable query generation

[rag.synthesizer]
type = "SimpleSummarize"
text_qa_template = "参考内容信息如下\n---------------------\n{context_str}\n---------------------根据提供内容而非其他知识回答问题.\n问题: {query_str}\n答案: \n"

[rag.agent]
type = "react"

[rag.tool]
type = ["calculator"]
