@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 218 22% 7%;
    --card: 0 0% 100%;
    --card-foreground: 218 22% 7%;
    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 12% 95%;
    --secondary-foreground: 218 22% 7%;
    --muted: 240 11% 98%;
    --muted-foreground: 217 11% 59%;
    --accent: 16 100% 96%;
    --accent-foreground: 14 87% 42%;
    --destructive: 347 77% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 14% 91%;
    --input: 220 14% 91%;
    --ring: 16 100% 56%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
